In [1]:
import pandas as pd

In [2]:
rough = "Resources/suicide_rates.csv"

In [3]:
rough_data_df = pd.read_csv(rough)

In [4]:
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

In [5]:
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '5-14'})
rough_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34,9,274300,3.28,"2,156,624,900",796,Boomers

In [6]:
rough_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', ' gdp_for_year ($) ', 'gdp_per_capita ($)',
       'generation'],
      dtype='object')

In [7]:
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "age": "Age Range", "suicides_no": "Suicide Count", "population": "Population", "suicides/100k pop": "Suicides/100k pop"," gdp_for_year ($) ": "GDP per Year", "gdp_per_capita ($)": "GDP per Capita", "generation": "Generation"})
renamed_df.head()

,Country,Year,sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP per Year,GDP per Capita,Generation
0,Albania,1987,male,15-24,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34,9,274300,3.28,"2,156,624,900",796,Boomers

In [9]:
after_start_date = rough_df["year"] >= 2000
before_end_date = rough_df["year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = rough_df.loc[between_two_dates]

filtered_date_df["year"].value_counts()

2009    1068
2001    1056
2010    1056
2011    1032
2007    1032
2002    1032
2003    1032
2000    1032
2006    1020
2008    1020
2004    1008
2005    1008
2012     972
2013     960
2014     936
2015     744
2016     160
Name: year, dtype: int64