In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# import csv
rough = "Resources/suicide_rates.csv"
rough_data_df = pd.read_csv(rough)

plt.show()

In [15]:
# drop unnecessary columns
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

# clean up age range fill
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '5-14'})

# rename columns
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "sex":"Sex", "age":"Age Range", "suicides_no":"Suicide Count", "population":"Population", "suicides/100k pop":"Suicides/100k pop", " gdp_for_year ($) ":"GDP(Year)", "gdp_per_capita ($)":"GDP per Capita", "generation":"Generation"})

# filter for years 2000-2016
after_start_date = renamed_df["Year"] >= 2000
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
132,Albania,2000,male,25-34,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24,6,263900,2.27,"3,632,043,908",1299,Generation X

In [9]:
renamed_df['Country'].unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [ ]:
grouping_lists=[['Albania'], ['Antigua and Barbuda'], ['Argentina'], ['Armenia'], ['Aruba'],
       ['Australia'], ['Austria'], ['Azerbaijan'], ['Bahamas'], ['Bahrain'],
       ['Barbados'], ['Belarus'], ['Belgium'], ['Belize'],
       ['Bosnia and Herzegovina'], ['Brazil'], ['Bulgaria'], ['Cabo Verde'],
       ['Canada'], ['Chile'], ['Colombia'], ['Costa Rica'], ['Croatia'], ['Cuba'],
       ['Cyprus'], ['Czech Republic'], ['Denmark'], ['Dominica'], ['Ecuador'],
       ['El Salvador'], ['Estonia'], ['Fiji'], ['Finland'], ['France'], ['Georgia'],
       ['Germany'], ['Greece'], ['Grenada'], ['Guatemala'], ['Guyana'], ['Hungary'],
       ['Iceland'], ['Ireland'], ['Israel'], ['Italy'], ['Jamaica'], ['Japan'],
       ['Kazakhstan'], ['Kiribati'], ['Kuwait'], ['Kyrgyzstan'], ['Latvia'],
       ['Lithuania'], ['Luxembourg'], ['Macau'], ['Maldives'], ['Malta'],
       ['Mauritius'], ['Mexico'], ['Mongolia'], ['Montenegro'], ['Netherlands'],
       ['New Zealand'], ['Nicaragua'], ['Norway'], ['Oman'], ['Panama'], ['Paraguay'],
       ['Philippines'], ['Poland'], ['Portugal'], ['Puerto Rico'], ['Qatar'],
       ['Republic of Korea'], ['Romania'], ['Russian Federation'],
       ['Saint Kitts and Nevis'], ['Saint Lucia'],
       ['Saint Vincent and Grenadines'], ['San Marino'], ['Serbia'],
       ['Seychelles'], ['Singapore'], ['Slovakia'], ['Slovenia'], ['South Africa'],
       ['Spain'], ['Sri Lanka'], ['Suriname'], ['Sweden'], ['Switzerland'],
       ['Thailand'], ['Trinidad and Tobago'], ['Turkey'], ['Turkmenistan'],
       ['Ukraine'], ['United Arab Emirates'], ['United Kingdom'],
       ['United States'], ['Uruguay'], ['Uzbekistan']]

In [10]:
#Are suicide rates higher in developing countries or developed countries?

#heatmap of suicide rates globally

In [11]:
#Country v.  Overall suicide rate
#mean_sui = filtered_date_df['Suicides/100k pop'].mean()
#filtered_date_df['Above Average?'] = (filtered_date_df['Suicides/100k pop'] >= mean_sui)

df_Country_Overall_suicide_rate = filtered_date_df.groupby('Country', as_index=False)['Suicides/100k pop'].mean()
#filtered_date_df.head()

#define 'Overall suicide rate'
#mean_sui1 = filtered_date_df['Suicides/100k pop'].mean()
mean_sui2 = df_Country_Overall_suicide_rate['Suicides/100k pop'].mean()
#print(mean_sui1)raw average
#print(mean_sui2)average of averages
#df_Country_Overall_suicide_rate['Suicides/100k pop'] 
#df_df_Country_Overall_suicide_rate() 
df_Country_Overall_suicide_rate['Deviation'] = df_Country_Overall_suicide_rate['Suicides/100k pop'] - mean_sui2
df_Country_Overall_suicide_rate.head()

               Country  Suicides/100k pop  Deviation
0              Albania           3.381667  -8.099545
1  Antigua and Barbuda           0.874405 -10.606807
2            Argentina          10.186094  -1.295118
3              Armenia           3.131517  -8.349695
4                Aruba           8.142639  -3.338573

In [12]:
#Gender v. Country & Suicide rate
Gender_tmp_df = filtered_date_df.groupby(['Country','Sex'], as_index=False)['Suicides/100k pop'].mean()


Gender_tmp_df.head()

               Country     Sex  Suicides/100k pop
0              Albania  female           2.475909
1              Albania    male           4.287424
2  Antigua and Barbuda  female           0.185952
3  Antigua and Barbuda    male           1.562857
4            Argentina  female           3.373229

In [13]:
#Age Range v. Country & Suicide rate
Age_tmp_df = filtered_date_df.groupby(['Country','Age Range'], as_index=False)['Suicides/100k pop'].mean()


Age_tmp_df.head()

   Country Age Range  Suicides/100k pop
0  Albania     15-24           3.287273
1  Albania     25-34           4.156364
2  Albania     35-54           3.963182
3  Albania      5-14           0.524091
4  Albania     55-74           3.438182