In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import csv
rough = "Resources/suicide_rates.csv"
rough_data_df = pd.read_csv(rough)

plt.show()

In [3]:
# drop unnecessary columns
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

# clean up age range fill
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '5-14'})

# rename columns
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "sex":"Sex", "age":"Age Range", "suicides_no":"Suicide Count", "population":"Population", "suicides/100k pop":"Suicides/100k pop", " gdp_for_year ($) ":"GDP(Year)", "gdp_per_capita ($)":"GDP per Capita", "generation":"Generation"})

# filter for years 2000-2016
after_start_date = renamed_df["Year"] >= 2000
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
132,Albania,2000,male,25-34,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24,6,263900,2.27,"3,632,043,908",1299,Generation X

In [ ]:
country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

country_df= pd.DataFrame({
    
    "Country": country,
    "GDP(Year)": gpd_year,
    "Suicides/100k pop": suicides
    
})


country_df = country_df.set_index('Country')
country_df

In [ ]:
age= renamed_df['Age Range']

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

age_df = pd.DataFrame({
    "Age Range": age,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Suicides/100k pop": suicides
    
    
})

In [ ]:
gender= renamed_df['sex']

age_range= renamed_df["Age Range"]

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Sucides/100k pop"]

gender_df= pd.DataFrame({
    
    "Sex": gender,
    "Age Range": age_range,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Sucides/100k pop": suicides
})

In [4]:
#Are suicide rates higher in developing countries or developed countries?

#heatmap of suicide rates globally

In [5]:
#Country v.  Overall suicide rate
#mean_sui = filtered_date_df['Suicides/100k pop'].mean()
#filtered_date_df['Above Average?'] = (filtered_date_df['Suicides/100k pop'] >= mean_sui)

df_Country_Overall_suicide_rate = filtered_date_df.groupby('Country')['Suicides/100k pop'].mean()
#filtered_date_df.head()

#define 'Overall suicide rate'
#mean_sui1 = filtered_date_df['Suicides/100k pop'].mean()
mean_sui2 = df_Country_Overall_suicide_rate.mean()
#print(mean_sui1)raw average
#print(mean_sui2)average of averages
#df_Country_Overall_suicide_rate['Suicides/100k pop'] 
#df_df_Country_Overall_suicide_rate() 
Deviation = df_Country_Overall_suicide_rate - mean_sui2
pd.DataFrame({
    "mean":mean_sui2,
    "Deviation":Deviation
})

                           mean  Deviation
Country
Albania               11.481212  -8.099545
Antigua and Barbuda   11.481212 -10.606807
Argentina             11.481212  -1.295118
Armenia               11.481212  -8.349695
Aruba                 11.481212  -3.338573
...                         ...        ...
United Arab Emirates  11.481212 -10.163295
United Kingdom        11.481212  -4.711577
United States         11.481212   1.464205
Uruguay               11.481212  10.059677
Uzbekistan            11.481212  -4.660656

[98 rows x 2 columns]

In [6]:
#Gender v. Country & Suicide rate
Gender_tmp_df = filtered_date_df.groupby(['Country','Sex'])['Suicides/100k pop'].mean()


Gender_tmp_df.head()

Country              Sex
Albania              female    2.475909
                     male      4.287424
Antigua and Barbuda  female    0.185952
                     male      1.562857
Argentina            female    3.373229
Name: Suicides/100k pop, dtype: float64

In [10]:
#Age Range v. Country & Suicide rate
Age_tmp_df = filtered_date_df.groupby(['Country','Age Range'])['Suicides/100k pop'].mean()

Age_tmp_df

Country     Age Range
Albania     15-24        3.287273
            25-34        4.156364
            35-54        3.963182
            5-14         0.524091
            55-74        3.438182
                           ...
Uzbekistan  25-34        9.044583
            35-54        9.106667
            5-14         1.203333
            55-74        7.130000
            75+          5.862500
Name: Suicides/100k pop, Length: 587, dtype: float64

In [ ]:
#suicide rates in the United States for 2017-2019?

In [ ]:
#Aggrate data by gender/gdp & suicide rate for 2017-2019

In [ ]:
#Aggrate Data by gender/gdp & suicide rate for 2017-2019