In [1]:
import pandas as pd

In [19]:
# import csv
rough = "Resources/suicide_rates.csv"
rough_data_df = pd.read_csv(rough)

In [24]:
# drop unnecessary columns
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

# clean up age range fill
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '5-14'})

# rename columns
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "sex": "Sex", "age": "Age Range", "suicides_no": "Suicide Count", "population": "Population", "suicides/100k pop": "Suicides/100k pop", "gdp_for_year($)": "GDP(Year)","gdp_per_capita($)": "GDP per Capita", "generation": "Generation"})

# filter for years 2000-2016
after_start_date = renamed_df["Year"] >= 2000
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),Generation
132,Albania,2000,male,25-34,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24,6,263900,2.27,"3,632,043,908",1299,Generation X